<footer>
  Blog de Nicolás creado por <a href="https://linktr.ee/niplinig">Nicolás Plaza</a
  >
  <div>
    <a href="https://www.github.com/niplinig/">
      <i class="lab la-github"> GitHub</i>
    </a>
  </div>
</footer>
