---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<h2>{SITE_TITLE}</h2>
  <nav>
    <HeaderLink href="/">Inicio</HeaderLink>
    <HeaderLink href="/notas">Notas</HeaderLink>
    <HeaderLink href="/about">Acerca de</HeaderLink>
  </nav>
</header>
